<h3>Ajouter une personne au carnet</h3>
<div class="form-group row">
  <label for="Nom" class="col-xs-4 col-md-2 col-form-label">Nom : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Nom" [(ngModel)]="personne.nom">
  </div>
</div>
<div class="form-group row">
  <label for="Prenom" class="col-xs-4 col-md-2 col-form-label">Prénom : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="text" class="form-control" id="Prenom" [(ngModel)]="personne.prenom">
  </div>
</div>
<div class="form-group row">
  <label for="Adresse" class="col-xs-4 col-md-2 col-form-label">Adresse : </label>
  <div class="col-xs-8 col-sm-4">
    <textarea type="text" class="form-control" id="Adresse" rows="3" [(ngModel)]="personne.adresse">...</textarea>
  </div>
</div>
<div class="form-group row">
  <label for="Code" class="col-xs-4 col-md-2 col-form-label">Code Postal : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="number" class="form-control" id="Code" [(ngModel)]="personne.codepostal">
  </div>
</div>
<div class="form-group row">
  <label for="Ville" class="col-xs-4 col-md-2 col-form-label">Ville : </label>
  <div class="col-xs-8 col-sm-4">
    <input type="texte" class="form-control" id="Ville" [(ngModel)]="personne.ville">
  </div>
</div>
<button class="btn btn-primary" (click)="valider()">Valider</button>
TEST :
<pre>{{personne | json}}</pre>
