<h3>Détails d'une personne</h3>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5>{{personne.prenom}} {{personne.nom}}</h5>
        <p class="card-text">
          {{personne.adresse}}
          <br/>{{personne.codepostal}} {{personne.ville}}
        </p>
        <p><i>{{personne.datemiseajour}}</i></p>
      </div>
    </div>
  </div>
</div>
