MA ZONE APP-ROOT
<div class="row">
  <div class="col-3">
  <button class="btn btn-primary col-12" routerLink="splash">Acc.</button>
    <button class="btn btn-primary col-12" routerLink="lister">Lister</button>
    <button class="btn btn-primary col-12" routerLink="ajouter">Ajouter</button>
    <button class="btn btn-primary col-12" routerLink="rechercher">Recher.</button>
  </div>
  <div class="col-8 offset-1">
    <router-outlet></router-outlet>
  </div>
</div>
