<h3>Listes des personnes du carnet</h3>
<table class="table table-striped">
  <thead>
  <tr>
  <th scope="col">#</th>
  <th scope="col">Nom</th>
  <th scope="col">Prenom</th>
  <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pers of this.liste; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{pers.nom}}</td>
    <td>{{pers.prenom}}</td>
    <td>
      <fa-icon [icon]="faSearchPlus" routerLink="/details/{{pers.id}}"></fa-icon>
    </td>
  </tr>
  </tbody>
</table>
