<h3>Rechercher une personne</h3>
<div class="form-group row">
  <label for="Id" class="col-xs-4 col-md-3 col-form-label">Nom de la personne : </label>
  <div class="col-xs-6 col-md-5">
    <input type="number" class="form-control" id="Id" [(ngModel)]="id">
  </div>
  <div class="col-xs-2 col-md-2"><fa-icon [icon]="faArrowAltCircleRight" class="fa-2x" routerLink="/details/{{id}}"></fa-icon></div>
</div>
